@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "utils/_reset.scss";
@import "utils/_nprogress";
@import "utils/_loading";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%}

  html:not([data-platform='macOs']) {
    ::-webkit-scrollbar {
      @apply h-[10px] w-[10px];
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-[#e4e4e7] rounded-sm border-none;
    }

    ::-webkit-scrollbar-track {
      @apply rounded-sm border-none bg-transparent shadow-none;
    }

    ::-webkit-scrollbar-button {
      @apply hidden;
    }
  }
}

@layer components {
  .sidebar .nav-link {
    @apply flex items-center gap-2.5 px-5 py-2.5 text-sm font-medium leading-tight text-gray transition hover:text-black;
  }
  .nav-item.sub-menu-active {
    @apply bg-light-theme !text-primary;
  }
  .nav-item.active {
    //@apply !text-black;
  }
  .sidebar .submenu > li > a {
    @apply flex rounded-lg px-2 py-1 font-medium text-gray-700 transition hover:bg-light-theme hover:text-primary;
  }
  .sidebar.closed {
    @apply w-[260px] lg:w-[60px];
  }
  .sidebar.closed h3 {
    @apply rounded-none;
  }
  .sidebar.closed h3 > span {
    @apply hidden;
  }
  .sidebar.closed h3 > svg {
    @apply block;
  }
  .sidebar.closed .submenu {
    @apply lg:hidden;
  }
  .sidebar .nav-link span {
    @apply whitespace-nowrap transition-all;
  }
  .sidebar.closed .nav-link span {
    @apply lg:invisible lg:w-0;
  }
  .sidebar.closed .sidemenu {
    @apply px-2.5 lg:px-0;
  }
  .sidebar.closed .upgrade-menu {
    @apply hidden;
  }
  .sidebar.open {
    @apply left-0;
  }
  #overlay.open {
    @apply block;
  }
}
